<!-- Server Header -->
<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="container">
      <div class="row product-header">
        <div class="col-xs-6 text-left">
        <a href="${path}/${lang}/server/"><img class="productlogo hidden-xs" src="${path}/static/images/server-logo.png" alt="Fedora Server" /><img class="productlogo hidden-sm hidden-md hidden-lg" src="${path}/static/images/smalllogo-color-server.png" alt="Fedora Server" /></a>
        </div>
        <div class="col-xs-6 text-right">
        <a href="${path}/${lang}/"><img class="fedoralogotext" src="${path}/static/images/fedora-logotext.png" alt="Fedora Logo" /></a>
        </div>
      </div>
    </div>

</html>
