<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

        <footer id="footer">

        <div class="foot">
            <div class="container">
                <div class="row footerlinks">
                    <div class="col-sm-3 col-xs-6 widget">
                        <h3 class="widget-title">${_('About')}</h3>
                        <div class="widget-body">
                            <dl>
                                <dd><a href="//www.ocselected.org/wiki/about">${_('About OCselected')}</a></dd>
                                <dd><a href="${path}/sponsors">${_('Sponsors')}</a></dd>
                                <dd><a href="http://ocmagazine.org">${_('OCselected Magazine')}</a></dd>
                            </dl>
                            <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/OCselected" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/110352014349457212309" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/OCselected" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 widget">
                        <h3 class="widget-title uppercase">${_('Download')}</h3>
                        <div class="widget-body">
                          <dl>
                            <dd><a href="${path}/ovirt/download">${_('Get oVirt')}</a></dd>
                            <dd><a href="${path}/fuel/download">${_('Get Fuel OpenStack')}</a></dd>
                            <dd><a href="${path}/mesos/download">${_('Get Mesos')}</a></dd>
                            <!-- <dd><a href="//spins.fedoraproject.org">${_('Fedora Spins')}</a></dd>
                            <dd><a href="http://torrents.fedoraproject.org/">${_('Torrent Downloads')}</a></dd>-->

                        </dl>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 widget">
                        <h3 class="widget-title">${_('Support')}</h3>
                        <div class="widget-body">
                            <dl>
                                <dd><a href="//www.ocselected.org/wiki/Communicating_and_getting_help">${_('Get Help')}</a></dd>
<!--                                <dd><a href="//ask.fedoraproject.org/">${_('Ask Fedora')}</a></dd>
                                <dd><a href="http://fedoraforum.org/">${_('Forums')}</a></dd> 
                                <dd><a href="//fedoraproject.org/wiki/Common_F${global_variables.release['curr_id']}_bugs">${_('Common Bugs')}</a></dd>-->
                                <dd><a href="//docs.ocselected.org/ovirt-manual/${global_variables.release['curr_id']}/html/Installation_Guide">${_('Installation Guide')}</a></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 widget">
                        <h3 class="widget-title">${_('Join')}</h3>
                        <div class="widget-body">
                            <dl>
                                <dd><a href="//www.ocselected.org/wiki/Join">${_('Join OCselected')}</a></dd>
                                <dd><a href="http://www.ocselected.org/planet">${_('Planet OCselected')}</a></dd>
                                <dd><a href="//www.ocselected.org/wiki/SIGs">${_('OCselected SIGs')}</a></dd>
                               <!-- <dd><a href="//admin.fedoraproject.org/accounts/">${_('Fedora Account System')}</a></dd>
                                <dd><a href="http://fedoracommunity.org/">${_('Fedora Community')}</a></dd> -->
                            </dl>
                        </div>
                    </div>
                </div> <!-- /row of widgets -->

                <div class="row">
                    <div class="col-md-2">
                        <div class="widget-body">
                            <a href="http://www.ocselected.com/"><img class="rh-logo" src="${path}/static/images/sponsors/sidebar/ocselected.png" alt="OCselected Logo" /></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="widget-body">
                            <p class="sponsor">${_('OCselected is sponsored by OCselected.com.')}</p>
<!--                            <p class="sponsor"><a href="//www.redhat.com/en/technologies/linux-platforms/articles/relationship-between-fedora-and-rhel">${_('Learn more about the relationship between Red Hat and Fedora &raquo;')}</a></p>
                            <p class="copy">${_('&copy; %(year)s Red Hat, Inc. and others.') % {'year':'2015'}}</p> -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget-body">
                            <div class="pull-left language-header">
                              <span class="active uls-trigger lang-dropdown">${_('Change Language')}</span>
                                <form action="" method="GET" style="visibility:hidden" id="langSelect" class="lang-dropdown">
                                  <input type="hidden" name="lang" id="selectedLang" value="" />
                        <!-- Allow uls script to change language through legacy system -->
                                  <input type="submit" value="${_('OK')}" />
                                </form>
                              </div>
                        </div>
                    </div>
                </div> <!-- /row of widgets -->

            </div>
        </div>
    </footer>
</html>
