<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <script type="text/javascript" src="${path}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="${path}/static/js/jquery.expander.js"></script>
    <script type="text/javascript" src="${path}/static/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="${path}/static/js/jquery.query.min.js"></script>
    <script type="text/javascript" src="${path}/static/js/jquery.slideshow.minified.js"></script>
    <script type="text/javascript" src="${path}/static/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="${path}/static/js/sponsor.js"></script>
    <script type="text/javascript" src="${path}/static/js/init.js"></script>
    <script type="text/javascript" src="${path}/static/js/openstack.js"></script>
    <script type="text/javascript" src="${path}/static/js/checksum.js"></script>
    <script type="text/javascript" src="${path}/static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="${path}/static/js/jquery.uls.data.js"></script>
	  <script type="text/javascript" src="${path}/static/js/jquery.uls.data.utils.js"></script>
	  <script type="text/javascript" src="${path}/static/js/jquery.uls.lcd.js"></script>
	  <script type="text/javascript" src="${path}/static/js/jquery.uls.languagefilter.js"></script>
	  <script type="text/javascript" src="${path}/static/js/jquery.uls.regionfilter.js"></script>
	  <script type="text/javascript" src="${path}/static/js/jquery.uls.core.js"></script>
    <xi:include href="../templates/translations.html" />

    <!--[if lt IE 9]>
    <script type="text/javascript" src="${path}/static/js/html5shiv.js"></script>
    <script type="text/javascript" src="${path}/static/js/respond.min.js"></script>
    <![endif]-->

</html>
