<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <div class="moretoocselected text-center">
    <div class="container">
      <div class="row intro">
        <div class="col-md-12">
          <h3 class="thin">${_('There\'s more to')} <img class="inlinelogo" src="${path}/static/images/ocselected-logotext.png" alt="OCselected Logo" /></h3>
        </div>
      </div>
    </div>
  </div>
</html>
