<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="h-body text-center product-box">
      <div class="product-server">
        <a class="greyscale" href="../case" alt="OCselected Cases"></a>
        <a class="color" href="../case" alt="OCselected Cases"></a>
      </div>
      <h4 class="productname uppercase">${_('Case')}</h4>
      <p>${_('This is real custorm\'s Use Case! Maybe guide for you or helpfull.')}</p>
    </div>

</html>
