<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <div class="h-body text-center product-box">
      <div class="product-workstation">
        <a class="greyscale" href="../workstation" alt="Fedora Workstation"></a>
        <a class="color" href="../workstation" alt="Fedora Workstation"></a>
      </div>
      <h4 class="productname uppercase">${_('Workstation')}</h4>
      <p>${_('This is the Linux workstation you\'ve been waiting for.')}</p>
    </div>
</html>
