<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <div class="h-body text-center product-box">
      <div class="product-workstation">
        <a class="greyscale" href="../books" alt="OCselected books"></a>
        <a class="color" href="../books" alt="OCselected books"></a>
      </div>
      <h4 class="productname uppercase">${_('Books')}</h4>
      <p>${_('OCselected product about Open Virtualization Developer Guide,It\'s Free.')}</p>
    </div>
</html>
