<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

<!-- Main Header -->
  <div class="container">
    <div class="row product-header">
      <div class="col-xs-6 text-left">
       <a href="${path}/${lang}/"><img class="fedoralogo" src="${path}/static/images/fedora_infinity_140x140.png" alt="Fedora Logo" /></a>
      </div>
      <div class="col-xs-6 text-right">
        <a href="${path}/${lang}/"><img class="fedoralogotext" src="${path}/static/images/fedora-logotext.png" alt="Fedora Logotext" /></a>
      </div>
    </div>
  </div>

</html>
