<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

    <div class="h-body text-center product-box">
      <div class="product-server">
        <a class="greyscale" href="../server" alt="Fedora Server"></a>
        <a class="color" href="../server" alt="Fedora Server"></a>
      </div>
      <h4 class="productname uppercase">${_('Server')}</h4>
      <p>${_('The latest technology. A stable foundation. Together, for your applications and services.')}</p>
    </div>

</html>
