<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

	<h3>${_('Documentation and other resources')}</h3>
	<p>${Markup(_('Before installing Fedora, you may want to confirm your system meets minimum requirements for Fedora. Consult &lt;a href="%s"&gt;the online release notes&lt;/a&gt; to see minimum requirements and recommendations.') % ('http://docs.fedoraproject.org/release-notes'))}</p>
	<p>${Markup(_('There is also a &lt;a href="%s"&gt;complete Installation Guide&lt;/a&gt; available. We recommend you look through it before installing to your system, since it answers many common questions.') % ('http://docs.fedoraproject.org/install-guide'))}</p>

</html>
