<!DOCTYPE html>
<html lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <h3>${_('Other ways of obtaining media')}</h3>
  <p>${Markup(_('You may purchase installation media for Fedora from &lt;a href="%s"&gt;online vendors&lt;/a&gt; or a &lt;a href="%s"&gt;local vendor&lt;/a&gt; in your area.') % ('http://fedoraproject.org/wiki/Distribution/OnlineVendors', 'http://fedoraproject.org/wiki/Distribution/LocalVendors'))}</p>
  <p>${Markup(_('Can\'t afford the price of installation media? Request Fedora installation media from the &lt;a href="%s"&gt;Fedora Free Media Program&lt;/a&gt;.') % ('http://fedoraproject.org/freemedia/FreeMedia-form.html'))}</p>

</html>
