

@media (max-width:530px)
{
    .mymenu .navbar-header {
        float: none;
    }
    .mymenu .navbar-left,.navbar-right {
        float: none !important;
    }
    .mymenu .navbar-toggle {
        display: block;
    }
    .mymenu .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .mymenu .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .mymenu .navbar-collapse.collapse {
        display: none!important;
    }
    .mymenu .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.mymenu .navbar-nav>li {
        float: none;
    }
    .mymenu .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .mymenu .collapse.in{
  		display:block !important;
	}

}
/*bootstrap xs*/
@media (min-width:530px) and (max-width:767px)
{
    .mymenu .navbar-collapse ul
    {
        padding-bottom:0px;
    }

    .mymenu .navbar-toggle {
        display: none!important;
    }
    .mymenu .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
     }
     .mymenu .collapse
     {
        display:block;
        height:100%!important;
     }

    .mymenu .nav-tabs.nav-justified > li > a{
        margin-bottom:0px;
        border-radius:0px;
     }

     .downloadheader .container
     {
        background-size:260px;
     }

     .downloadheader .container h2
     {
        font-size: 20px;
     }

}

/*bootstrap sm*/
@media(min-width:768px)
{
}

/*bootstrap md*/
@media(min-width:992px)
{
  .downloadheader .container
  {
    min-height:200px;
  }
}

/*bootstrap lg*/
@media(min-width:1200px)
{
}
body
{
background-color:#E6E6E6;
}

#site-content
{
background-color:white;
}
/* Navbar */
.navbar { border: 0px none; }

/* Modal boxes */
.modal { overflow-y: auto; }
.modal-cloud { width: 550px; }

/* Custom buttons */
.btn-cloud {
  color: #FFEFD7;
  background-image: -webkit-linear-gradient(top, #914EBB 0%, #9E61B7 100%);
  background-image: linear-gradient(to bottom, #914EBB 0%, #9E61B7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff914EBB', endColorstr='#ffA77CC6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border:0 none;
}

.btn-cloud:hover,
.btn-cloud:focus {
  color: #FFFFFF;
  background: #7C59BB;
}
.btn-cloud:active { background: #7C6ADD; }

.btn-checksum {
  width: 200px;
}

.btn-verify {
  padding: 10px;
}

.btn-fix {
  width: 200px;
}

/* Product Front Pages (General Classes) */

.product-testimonial, .header-splash, .product-features
{
  padding-bottom: 36px;
  color: white;
}

.product-definition
{
  background-color:#e7e8e9;
  color: #294172;
  font-size: large;
  font-weight: 500 !important;
}

.product-testimonial blockquote {
  text-align: left;
  color: black;
  font-size: 180%;
  border-left: none;
  font-style: normal;
}

.product-testimonial blockquote cite {
  color: #777;
  font-weight: 300;
}

.bluebox
{
  background-color: #3c6eb4;
  color: #f8f8f8;
}

.sponsorbox
{
  background:-webkit-gradient(radial, 30% 30%, 0, 30% 30%, 900, from(#A07CBC), to(#755B8A)) #A07CBC;
  background-image: -webkit-radial-gradient(30% 30% 45deg, circle farthest-side, #a07cbc, #755B8A);
  background-image: -moz-radial-gradient(30% 30% 45deg, circle farthest-side, #a07cbc, #755B8A);
  background-image: -o-radial-gradient(30% 30% 45deg, circle farthest-side, #a07cbc, #755B8A);
  background-image: -ms-radial-gradient(30% 30% 45deg, circle farthest-side, #a07cbc, #755B8A);
  background-image: radial-gradient(30% 30% 45deg, circle farthest-side, #a07cbc, #755B8A);
  color: #f8f8f8;
}

.product-feature {
  font-size: large;
}

.productlogo
{
  margin-top:5px;
  height: 3.5em;
}

.download-lower {
  background: #3c6eb4;
  text-align: center;
  color: white;
}

.download-lower h3 {
  margin-top: 14px;
}

.download-lower .btn {
  color: white;
  margin-left: 4em;
}

.download-lower .btn-visible-xs {
  margin: 0px;
}

/*bottom products selector*/

.moretofedora
{
	background-color:white;
}

.moretofedora .inlinelogo
{
padding-left:2px;
padding-bottom:10px;
height:50px;
margin-top:4px;
}

.product-selector {
	color: #333;
}

.bottom-products
{
	background-color:white;
}

.bottom-products .productname
{
	font-family: "Montserrat";
	text-align: center;
}


.product-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.product-box a {
  background-image: url("../images/product-sprite.png");
}

.product-box .greyscale,
.product-box .color
{
  left:0;
  width:  100%;
  height: 100%;
  position:absolute;
  background-size: 70px 70px;
}

.product-box .product-server,
.product-box .product-workstation,
.product-box .product-cloud
{
  margin: 20px auto;
  display: block;
  position:relative;
  width:70px;
  height: 70px;

}

.product-box .product-server .greyscale
{
 background-image:url(../images/smalllogo-grey-server.png);
}

.product-box .product-server .color
{
 background-image:url(../images/smalllogo-color-server.png);
}

.product-box .product-workstation .greyscale
{
 background-image:url(../images/smalllogo-grey-workstation.png);
}

.product-box .product-workstation .color
{
 background-image:url(../images/smalllogo-color-workstation.png);
}

.product-box .product-cloud .greyscale
{
 background-image:url(../images/smalllogo-grey-cloud.png);
}

.product-box .product-cloud .color
{
 background-image:url(../images/smalllogo-color-cloud.png);
}

.product-box .product-server .greyscale,
.product-box .product-server:hover .color,
.product-box .product-workstation .greyscale,
.product-box .product-workstation:hover .color,
.product-box .product-cloud .greyscale,
.product-box .product-cloud:hover .color
{
  opacity:1;
 transition: opacity 0.3s ease;
}

.product-box .product-server .color,
.product-box .product-workstation .color,
.product-box .product-cloud .color
{
  opacity:0;
  transition: opacity 0.3s ease;
}

.product-box .product-server:hover .greyscale,
.product-box .product-workstation:hover .greyscale,
.product-box .product-cloud:hover .greyscale
{
 opacity:0;
}

/*End Bottom products selector*/


/* Download */

#workstation .downloadheader .btn,
#workstation .download-lower .btn {
  background-color: #7bcf3e;
}

#workstation .splashheader {
  background-color: #ccc;
  min-height: 116px;
}

#cloud .download-cloud-splash.btn {
  background-color: #a07cbc;
}

#cloud .download-cloud {
  background-color: #a07cbc;
}

/*Nav*/

.mymenu
{
  background-color:#b2b4b5;
  box-shadow:0px 30px 30px -15px #aaa inset, 0px -1px 0px 0px #aaa inset;
}

.mymenu .nav-tabs.nav-justified > li > a,
.mymenu .nav-tabs.nav-justified > li > a:hover
{
  border:none;
  background-color:transparent;
}
.mymenu .nav-tabs.nav-justified > li > a
{
  color:#fff;
  font-weight:bold;
  text-shadow: 1px 1px 1px #777;
}

.mymenu .nav-tabs.nav-justified > .active > a,
.mymenu .nav-tabs.nav-justified > .active:hover > a
{
  background-color:transparent;
  color:#111;
  text-shadow: none;
}
.mymenu.workstationmenu .nav-tabs.nav-justified > .active > a,
.mymenu.workstationmenu .nav-tabs.nav-justified > .active:hover > a
{
  box-shadow: 0px -3px 0px 0px rgb(121,219,50) inset;
}

.mymenu.servermenu .nav-tabs.nav-justified > .active > a,
.mymenu.servermenu .nav-tabs.nav-justified > .active:hover > a
{
  box-shadow: 0px -3px 0px 0px rgb(229,151,40) inset;
}

.mymenu .nav-tabs.nav-justified > li:hover > a
{
  background-color:transparent;
  box-shadow: 0px -3px 0px 0px #555 inset;
  text-shadow: none;
  text-shadow: 1px 1px 1px #bbb;
  color:#555;
}


.downloadheader .container
{
  background-image: url(../images/downloadicon.svg);
  background-repeat: no-repeat;
  background-position: 50px center;
}

/* Header */
#head { text-align: center; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head h1 { font-size: 36px; margin-bottom: 42px; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:24px; color:white; line-height:1.15em; }
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; font-size: 16px;}
		#head .tagline a { color:#fff; }
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active,
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

.main-head, .downloadheader
{
     background: url(../images/greybg.png) no-repeat right 0px center;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.05) inset;
}

.main-head h1
{
    margin-bottom: 0px!important;
}

.fedora-header h2 {
  line-height: 50px;
  font-size: 18pt;
}
.product-header, .fedora-header{
  padding: 20px 20px;
}

.fedoralogotext
{
 height:49px;
 width: 108px;
 max-width: 108px;
}

.fedoralogo
{
  height: 3.5em;
}
.logo-header{
	margin-top: 19px;
}
.inline-logo {
  margin-top: -14px;
  padding-bottom: 10px;
  padding-left: 2px;
}
.language-header {
  margin-top: 43px;
}
.btn-topmargin {
  margin-top: 10px;
}
.verticalbottom {
	vertical-align: bottom; !important;
}
.down {
	margin-bottom: -4px;
}

/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; }
	.h-caption img { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }

.productitem h4
{
font-family:'Montserrat';
text-align:center;
}

.productitem .productitem-logo
{

     width:100px;
     height:100px;
     display:block;
     margin-left:auto;
     margin-right:auto;
}
.productitem > a
{
    color:#444;
}

.productitem > a:hover
{
    text-decoration:none;
}

.productitem .color,
.productitem .greyscale
{
     width:100px;
     height:100px;
     background-size:cover;
     position:absolute;
}

.productitem.workstation .color
{
    background-image:url(../images/logo-color-workstation.png);
}

.productitem.server .color
{
    background-image:url(../images/logo-color-server.png);
}
.productitem.cloud .color
{
 background-image:url(../images/logo-color-cloud.png);
}


.productitem.workstation:hover .color,
.productitem.server:hover .color,
.productitem.cloud:hover .color
{
    opacity:1;
    transition: opacity 0.3s ease;
}

.productitem.workstation .color,
.productitem.server .color,
.productitem.cloud .color
{
    opacity:0;
    transition: opacity 0.3s ease;
}


.productitem.workstation .greyscale
{
 background-image:url(../images/logo-grey-workstation.png);
}

.productitem.cloud .greyscale
{
 background-image:url(../images/logo-grey-cloud.png);
}

.productitem.server .greyscale
{
 background-image:url(../images/logo-grey-server.png);
   opacity:1;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
.productitem.workstation .greyscale
{
 background-image:url(../images/logo-grey-workstation@2x.png);
}

.productitem.cloud .greyscale
{
 background-image:url(../images/logo-grey-cloud@2x.png);
}

.productitem.server .greyscale
{
 background-image:url(../images/logo-grey-server@2x.png);
}
}

.community {
    background-image: url('../images/community.jpg');
    color: #FFF;
    text-shadow: 0em 0em 1em #000;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Workstation */
#workstation .header-splash {
  background: #3c6eb4 url(../images/workstation/workstation-splash.jpg) no-repeat right 0px center;
}

#workstation .product-testimonial
{
  background: white url(../images/workstation/workstation-testimonial.jpg) no-repeat left top -45px / 80%;
}

#workstation .product-testimonial blockquote p {
  color: #555 !important;
}

#workstation .product-testimonial blockquote cite {
  color: #777 !important;
}

#workstation .screenshots:last-child
{
  border-bottom: 15px solid #7bcf3e;
}

#workstation .gnome3 {
  background-size: cover;
  background: #777 url(../images/workstation/workstation-pattern.png);}

#workstation .copr {
  background: #777 url(../images/workstation/workstation-features-user.jpg) no-repeat 50% 50% scroll;
  background-size: cover;
  color: white;
  text-shadow: #777 1px 1px 1px;
  position:relative;
}
/*overlay to cover a background image to grey it out a bit to make the text more
readable*/
.background-overlay
{
  width:100%;
  height:100%;
  position:absolute;
  background-color:rgba(0,0,0,0.6);
  top:0;
  left:0;
}

#workstation .boxes {
  background-size: cover;
  background: #777 url(../images/darktriangles.png);
  color: white;
}

#workstation .product-definition {
  border-bottom: 15px solid #7bcf3e;
}


/* Server */
#server .header-splash {
  background: black url(../images/server/server-splash.jpg) no-repeat center top 0px;
  background-size: cover;
}

#server .downloadheader .btn,
#server .header-splash .btn-success,
#server .download-lower .btn {
  background-color: #e59728;
}

#server .product-definition {
  background: #e59728 url(../images/server/server-pattern.png);
  color: white;
}

#server .two-col {
   background: white url(../images/server/server-splash.2.jpg) no-repeat center center;
   background-size: cover;
   text-align: center;
   color: white;
   text-shadow: 1px 1px .5px black;
}

#server .cockpit {
  background-size: cover;
  background: white url(../images/server/server-features-cockpit-bg.png) no-repeat top center / 100%;
}

#server .freeipa {
  background-size: cover;
  background: white url(../images/server/server-features-freeipa-bg.png) no-repeat top center / 100%;
  border-bottom: 35px solid #e59728;
}

/*Cloud*/

#cloud #head
{
  background-image: url(../images/cloud/cloud-splash.jpg);
  background-repeat: repeat-x;
  background-position: 50% auto;
  padding-top:40px;
  padding-bottom:40px;
  color: white;
}

#cloud #head h1
{
  margin-bottom: 10px;
}

#cloud #head .btn
{
background-color:#A07CBC;
margin-top:20px;
}

#cloud .download-lower .btn
{
  background-color:#A07CBC;
}

#cloud .ostree.product-feature
{
  background-image:url(../images/darktriangles.png);
  color:#eee;
}

#cloud .product-testimonial {
  background-size: cover;
  border-bottom: 15px solid #A07CBC;
}

#cloud  .atomic-host {
  background-image: url(../images/cloud/cloud-pattern.png);
}

#cloud  .minimalfastflexible {
  background-image: url(../images/greybg.png);
}

#cloud .download-container .caption {
  color: #777;
  font-size: 90%;
  margin-top: .5em;
}

#cloud .download-container .btn {
  margin-top: 1em;
}

#cloud .click {
  display: block;
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 110%;
}

#cloud .reveal {
  margin: 1.5em;
  padding: 1em 1.5em;
  background: #eee;
}

/*Pre-release page */
.prerelease-header {
  width: 500px;
  margin: 50px auto 0 auto;
}

p.warning {
    padding: .7em 1em;
    color: #000000;
    background: #f9dde9 no-repeat 10px center;
    border-radius: 8px;
    border: 1px solid #ff0000;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 2.5em;
    font-size: 110%;
    display: none;
    text-align: justify;
}

/*bootstrap xs*/
@media max-width:767px
{

}

/*bootstrap sm*/
@media(min-width:768px)
{
#cloud .minimalfastflexible .screenshot
  {
    margin-top:40px;
  }
}

/*bootstrap md*/
@media(min-width:992px)
{
#cloud .minimalfastflexible .screenshot
  {
    margin-top:0px;
  }
}

/*bootstrap lg*/
@media(min-width:1200px)
{
}



/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; }
h1.nopad, h2.nopad, h3.nopad { margin: 0 !important; padding: 0 !important; } /* Sometimes we don't want extra space. */
blockquote { font-style: italic; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }
.bottom-space { margin-bottom: 60px; }
.bottom-margin { margin-bottom:20px; }
.recover-heading { padding-bottom: 30px; } /* Recover the margin added by h1-h3 for even-ness. */
.uppercase {text-transform: uppercase;}

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

/* Footer */
.foot { background-color:#e6e6e6; padding: 30px 0 0 0; font-size: 13px; color: #777; }
	.foot a { color: #333; }
		.foot a:hover {color: #000; }
	.foot .widget { margin-bottom:30px; }
	.foot .widget-title { font-size: 17px; font-weight: bold; color: #8d8d8d; margin: 0 0 20px; text-transform: uppercase; }
	.foot .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.foot .entry-meta a { color: #333333; }
		.foot .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }
		.follow-me-icons i { float:left; margin:0 10px 0 0; }
  .foot dd {
    line-height: 1.6;
  }

  .foot .btn-social {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #808080;
    background-color: #808080 !important;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
.foot .btn-outline {
    font-size: 18px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.foot .btn-outline:hover,
.foot .btn-outline:focus,
.foot .btn-outline:active,
.foot .btn-outline.active {
    border: solid 2px #000;
    color: #000;
    background-color: #fff !important;
}

.foot dl {
  margin-bottom: 8px;
}

/* special classes for small screens */

@media (max-width: 767px) {
  #workstation .header-splash, .container,
  #workstation .product-testimonial, .container {
    background-image: none;
  }
  #head .lead { font-size: 34px;
  }
  .modal-cloud { width: 300px; }
}
/* end small screens classes */

